body {
  background: white;
  background-image: url(https://i.imgur.com/d47ZIU3.jpg);
  background-size: cover;
}

.language1 {
  position: absolute;
  background: #e97b7a;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  color: white;
  font-size: 40px;
  border-radius: 100%;
  margin-top: -300px;
  margin-right: -300px;
}

.language2 {
  position: absolute;
  background: #e97b7a;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  color: white;
  font-size: 40px;
  border-radius: 100%;
  margin-top: -300px;
  margin-left: -300px;
}

.language3 {
  position: absolute;
  background: #e97b7a;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  color: white;
  font-size: 40px;
  border-radius: 100%;
  margin-top: 0px;
  margin-left: 0px;
}

.language4 {
  position: absolute;
  background: #e97b7a;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  color: white;
  font-size: 40px;
  border-radius: 100%;
  margin-top: 0px;
  margin-left: -300px;
}
