body {
  background: white;
  background-image: url(https://i.imgur.com/d47ZIU3.jpg);
  background-size: cover;
}
.languagebutton {
  position: absolute;
  background: #e97b7a;
  top: 50%;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  color: white;
  font-size: 40px;
  border-radius: 100%;
  margin-top: -200px;
  margin-left: -100px;
  cursor: pointer;
}

.languagebutton:hover {
  background: black;
}

.language1 {
  /* Firefox */
left: -moz-calc(50% - 300px);
/* WebKit */
left: -webkit-calc(50% - 300px);
/* Opera */
left: -o-calc(50% - 300px);
/* Standard */
left: calc(50% - 300px);
}

.language2 {
  left: 50%;
}

.language3 {
  left: -moz-calc(50% + 300px);
  /* WebKit */
  left: -webkit-calc(50% + 300px);
  /* Opera */
  left: -o-calc(50% + 300px);
  /* Standard */
  left: calc(50% + 300px);
}
