body {
  background: black;
  background-size: cover;
}
html, body {margin: 0; height: 100%; overflow: hidden}
.firstHeader {
  position: absolute;
  top: 40%;
  width:100%;
  text-align:center;
  line-height: 30px;
  font-size: 100px;
  color: white;
  opacity: 0;
}
.languageButton {
  position: absolute;
  background: #660000;
  top: 50%;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  color: white;
  font-size: 40px;
  border-radius: 100%;
  margin-top: -200px;
  margin-left: -100px;
  cursor: pointer;
  opacity:0;
}

.languageButton:hover {
  background: #8a0303;
}

.language1 {
  /* Firefox */
left: -moz-calc(50% - 300px);
/* WebKit */
left: -webkit-calc(50% - 300px);
/* Opera */
left: -o-calc(50% - 300px);
/* Standard */
left: calc(50% - 300px);
}

.language2 {
  left: 50%;
}

.language3 {
  left: -moz-calc(50% + 300px);
  /* WebKit */
  left: -webkit-calc(50% + 300px);
  /* Opera */
  left: -o-calc(50% + 300px);
  /* Standard */
  left: calc(50% + 300px);
}

.boxContainer {
  z-index: 4;
  position: absolute;
  width:10%;
  min-width: 100px;
  left:45%;
  border-radius: 15px;
  background: white;
  height:60%;
  top: -moz-calc(100% - 50px);
  /* WebKit */
  top: -webkit-calc(100% - 50px);
  /* Opera */
  top: -o-calc(100% - 50px);
  /* Standard */
  top: calc(100% - 50px);
}

.nextButton {
    width: 46px;
    height: 46px;
    position:absolute;
    top:0px;
    right:0px;
    padding:2px;
}
.nextButton >img { width: 100%; height: 100%; }

.backButton {
  width: 46px;
  height: 46px;
  top:0;
  left:0;
  padding:2px;
}
.backButton >img { width: 100%; height: 100%; }

.newStory {
  position: absolute;
  top:0;
  left:100%;
  z-index: 3;
  background:blue;
  height:100%;
  width:100%;
}

.prevStory {
  position: absolute;
  top:0;
  right:200%;
  z-index: 3;
  background:green;
  height:100%;
  width:100%;
}

.storySvg {
  height:80%;
  width:auto;
}
